altair==5.4.1
pandas==2.2.2
numpy==2.1.1
matplotlib==3.9.2
seaborn==0.12.1
streamlit==1.38.0
requests==2.32.3
plotly==5.15.0  # Jika Anda menggunakan plotly
scikit-learn==1.4.0  # Jika Anda menggunakan machine learning
